.nobullets {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

body > * {
    margin-top: 50px;
}

.largeclickable {
    width: 150px;
    height: 75px;
    border: 2px solid grey;
    border-radius: 10px;
}

.largeclickable > a {
    display: block;
    height: 100%;
    color: black;
}
